//Neutral color
$white: #fff;
$neutral-2: #fcfcfc;
$neutral-3: #f5f5f5;
$neutral-4: #f0f0f0;
$neutral-5: #d9d9d9;
$neutral-6: #bfbfbf;
$neutral-7: #8c8c8c;
$neutral-8: #595959;
$neutral-9: #454545;
$neutral-10: #262626;
$neutral-11: #1f1f1f;
$neutral-12: #141414;
$black: #000;

//Blue color
$pg-blue-1: #e6edf8;
$pg-blue-2: #c2d3ee;
$pg-blue-3: #91b0e1;
$pg-blue-4: #5e8bd4;
$pg-blue-5: #2e68c6;
$pg-blue-6: #0047ba;
$pg-blue-7: #003c9e;
$pg-blue-8: #003284;
$pg-blue-9: #00286a;
$pg-blue-10: #002054;

//Black color
$cool-black-1: #e8e8e9;
$cool-black-2: #c7c8cb;
$cool-black-3: #9b9ca2;
$cool-black-4: #6d6e76;
$cool-black-5: #41424d;
$cool-black-6: #171926;
$cool-black-7: #141520;
$cool-black-8: #10121b;
$cool-black-9: #0d0e16;
$cool-black-10: #0a0b11;

//Grey color
$grey-1: #fdfdfd;
$grey-2: #fafafb;
$grey-3: #f6f6f8;
$grey-4: #f1f2f4;
$grey-5: #edeff1;
$grey-6: #e9ebee;
$grey-7: #c6c8ca;
$grey-8: #a5a7a9;
$grey-9: #858688;
$grey-10: #696a6b;

//Red color
$red-1: #fceded;
$red-2: #f6c2c2;
$red-3: #f09191;
$red-4: #e85e5e;
$red-5: #e12e2e;
$red-6: #db0000;
$red-7: #ba0000;
$red-8: #9b0000;
$red-9: #7d0000;
$red-10: #630000;

//Green color
$green-1: #ecf3e8;
$green-2: #cfe0c6;
$green-3: #a9c799;
$green-4: #80ad6a;
$green-5: #5a943d;
$green-6: #367d12;
$green-7: #2e6a0f;
$green-8: #26590d;
$green-9: #1f470a;
$green-10: #183808;

//Gold color
$gold-1: #fff7e8;
$gold-2: #feebc7;
$gold-3: #fddc9a;
$gold-4: #fccb6b;
$gold-5: #fbbc3e;
$gold-6: #faad14;
$gold-7: #d59311;
$gold-8: #b27b0e;
$gold-9: #8f630b;
$gold-10: #704e09;

$pg-stewardship-cobalt: #06f;
$pg-corporate-blue: #0047ba;
$pg-expanded-light-blue: #a0cdf9;
$pg-mediao-planning-magenta: #e22bb7;
$pg-magenta-expanded-dark: #a6458e;
$pg-magenta-expanded-light: #f9afe4;
$pg-audiences-cyan: #6fd0e9;
$pg-audiences-cyan-dark: #4daae8;
$pg-audiences-cyan-light: #d3f9fb;
$pg-analytics-yellow: #ffda00;
$pg-analytics-yellow-dark: #ffda00;
$pg-analytics-yellow-light: #ffda00;
$pg-campaign-green: #12d465;
$pg-campaign-green-expanded-dark: #00ae42;
$pg-campaign-green-expanded-light: #9cf2bf;
$pg-cool-black: #171926;
$pg-neutral-gray: #737e91;
$pg-neutral-light-gray: #cecfd1;
$pg-neutral-pale-gray: #e9ebee;
$pg-neutral-white: #fff;
$pg-neutral-black: #000;
$pg-header-green: #00a3a3;

